<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=9;ie=10,ie=edge">

    <title>{% block title %}{% endblock %}eSPa</title>

    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">

    {% block stylesheets %}{% endblock %}

    <!--<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />-->
</head>

<body>

<div class="container-fluid site-wrapper">
{% block body %}{% endblock %}
</div>

<script src="{{ asset('js/jquery-3.1.0.min.js') }}" ></script>
<script src="{{ asset('js/tether.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/sticky-onscroll.js') }}"></script>
</body>
</html>
